.landing_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ldng-logo {
    margin-top: 95px;
    width: 250px;
    &__img {
        width: 100%;
    }
    @media all and (min-width:768px){
        width: 419px;
    }
}
.ldng-text {
    text-align: center;
    margin: 35.4px 0 17.8px;
    &__title {
        margin:0;
        color: $dull-orange;
        font-family: $merri-font;
        font-weight: $black-weight;
        font-size: 19.2px;
        line-height: 24px;
    }
    &__expl {
        margin:0;
        color: $dark-green-blue;
        font-family: $openSans-font;
        font-weight: $semiBold-weight;
        font-size: 12.8px;
        line-height: normal;

        max-width: 265px;
    }
}
.ldng-chartIcons {
    border: 1px solid $faded-orange ;
    width: 268px;
    height: 74px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    &__text {
        text-transform: capitalize;
        // Misma tipografía q &__expl salvo color
        color: $gunmetal;
        font-family: $openSans-font;
        font-weight: $semiBold-weight;
        font-size: 12.8px;
        line-height: normal;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
}

.ldng-btn {
    margin: 38.6px 0 30px 0;
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: $dirty-blue;
    text-transform: uppercase;
    color: white;
    font-family: $openSans-font;
    font-weight: $semiBold-weight;
    font-size: 16px;
    line-height: 22px;



}
