<section class="preview">
    <button class="reset"><i class="far fa-trash-alt"></i>reset</button>
    <div class="preview_card">
        <h2 class="preview_card-name">nombre apellido</h2>
        <h3 class="preview_card-job">Front-end developer</h3>
        <img src="http://via.placeholder.com/240x200">
        <ul class="preview_card-social">
            <li class="item item_phone">
                <a class="item_btn">
                    <i class="fas fa-mobile-alt"></i>
                </a>
            </li>
            <li class="item">
                <a class="item_btn">
                    <i class="far fa-envelope"></i>
                </a>
            </li>
            <li class="item">
                <a class="item_btn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="item">
                <a class="item_btn">
                    <i class="fab fa-github-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<script src="https://kit.fontawesome.com/23952ac8ac.js" crossorigin="anonymous"></script>