<section>
    <form action="" method="get">
        <fieldset class="design">
            <legend<i class="far fa-object-ungroup"></i>DISEÑA</legend>
            <span><i class="fas fa-chevron-down"></i></span>
            <div class="design__hidden">
                <div class="color">
                    <p>COLORES</p>
                    <div class="color-palettes">
                        <div>
                            <label for="palette-1">
                                <input type="radio" name="color-palette" id="palette-1">
                            </label>
                            <div></div>
                        </div>
                        <div>
                            <label for="palette-2">
                                <input type="radio" name="color-palette" id="palette-2">
                            </label>
                            <div></div>
                        </div>
                        <div>
                            <label for="palette-3">
                                <input type="radio" name="color-palette" id="palette-3">
                            </label>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fill-in">
            <legend><i class="far fa-keyboard"></i>RELLENA</legend>
            <span><i class="fas fa-chevron-down"></i></span>
            <div class="fill-in__hidden">
                <label class="fill-input" for="name">Nombre completo</label>
                <input placeholder="Ej:" type="text" name="name" id="name">
                <label class="fill-input" for="job-title">Puesto</label>
                <input placeholder="Ej:" type="text" name="job-title" id="job-title">
                <div>
                    <label class="fill-input" for="photo">Imagen de perfil</label>
                    <input type="file" name="photo" id="photo" value="Añadir imagen">
                    <button class="add-image">Añadir imagen</button>
                    <div></div>
                </div>
                <label class="fill-input" for="email">Email</label>
                <input placeholder="Ej:" type="email" name="email" id="email">
                <label class="fill-input" for="tel">Teléfono</label>
                <input placeholder="Ej:" type="tel" name="tel" id="tel">
                <label class="fill-input" for="linkedin">LinkedIn</label>
                <input placeholder="Ej:" type="text" name="linkedin" id="linkedin">
                <label class="fill-input" for="github">Github</label>
                <input placeholder="Ej:" type="text" name="github" id="github">
            </div>
        </fieldset>
        <fieldset class="share">
            <legend><i class="fas fa-share-alt"></i>COMPARTE</legend>
            <span><i class="fas fa-chevron-down"></i></span>
            <div class="share__hidden">
                <button><i class="far fa-address-card"> CREAR TARJETA</i>
                </button>
                <div class="twitter-link">
                    <span>La tarjeta ha sido creada:</span>
                    <a href=""><i class="fab fa-twitter"></i>Compartir en twitter</a>
                </div>
            </div>
        </fieldset>
    </form>
</section>