<div class="landing-wrapper">

    <div class="ldng-logo">
        <img src="./assets/images/logo-awesome-profiles.svg" alt="Welcome to the Awesome profile-cards website!">
    </div>

    <div class="ldng-text">
        <h1 class="ldng-text__title">Crea tu tarjeta de visita</h1>
        <p class="ldng-text__expl">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <div class="ldng-chartIcons">
        <div class="ldng-chartIcons__design">
            <div class="design-icon"><img src="" alt="Maqueta"></div>
            <div class="design-text">diseña</div>
        </div>
        <div class="ldng-chartIcons__fill-in">
            <div class="fill-in-icon"><img src="" alt="Usa el teclado"></div>
            <div class="fill-in-text">rellena</div>
        </div>
        <div class="ldng-chartIcons__share">
            <div class="share-icon"><img src="" alt="Envía a tus contactos"></div>
            <div class="share-text">comparte</div>
        </div>
    </div>


    <button class=".btn">comenzar</button>
</div>