

@media all and (min-width: 768px){
    .main{
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 40px;
    }
    .preview{
        width: 329px;
        height: auto;
        margin-top: 23px;
        margin-bottom: 21px;

        .reset{
            margin-top: 173px;
        }
    
        &_card{
            width: 240px;
            height: 329px;
        }
    }  
    
    .form-wrapper{
        width: 55%;
        margin: 0;
        padding-right: 30px;
        margin-top: 23px;
    }
    
}

@media all and (min-width: 1024px){
    
}
